<div class="page-container">
    
<!-- bloc-0 -->
<div class="bloc bgc-white tc-black " id="bloc-0">
	<div class="container bloc-lg">
		<div class="row">
			<div class="col-sm-12">
				<h1 class="text-center mg-md">
					Meet our team
				</h1>
				<h2 class="sub-heading text-center">
					We are a group of skilled individuals.
				</h2><br><br>
			</div>
		</div>
		<div class="row voffset-lg">
			<div class="col-sm-2">
				<img src="../public/img/amel.jpg" class="img-responsive img-circle center-block blocs-team-avatar" alt="" />
			</div>
			<div class="col-sm-4">
				<h3 class="mg-md tc-black">
					Amel Rathatpillil
				</h3>
				<p class="blocs-team-details">
					Our backend developer who always amazes with his JavaScript skills.
				</p><br>
			</div>
			<div class="col-sm-2">
				<img src="../public/img/danni.jpeg" class="img-responsive img-circle center-block blocs-team-avatar" alt="" />
			</div>
			<div class="col-sm-4">
				<h3 class="mg-md tc-black">
					Danni Wang
				</h3>
				<p class="blocs-team-details">
					Out backend and frontend developer with good JavaScript and HTML skills
				</p><br>
			</div>
		</div>
		<div class="row voffset-lg">
			<div class="col-sm-2">
				<img src="../public/img/rong.jpeg" class="img-responsive img-circle center-block blocs-team-avatar" alt=""/>
			</div>
			<div class="col-sm-4">
				<h3 class="mg-md tc-black">
					Haoyu Rong
				</h3>
				<p class="blocs-team-details">
					Our backend and frontend developer passionate to solve real world problems.
				</p><br>
			</div>
			<div class="col-sm-2">
				<img src="../public/img/allan.jpeg" class="img-responsive img-circle center-block blocs-team-avatar" alt="" />
			</div>
			<div class="col-sm-4">
				<h3 class="mg-md tc-black">
					Allan Shivji
				</h3>
				<p class="blocs-team-details">
					Our frontend and backend developer skilled with JS and provids ease of use User Interface.
				</p><br>
			</div>
		</div>
	</div>
</div>

</div>