<div class="manage-error-image"><img src="../public/image/error.jpg" alt="" class="error-image">
</div>
<p>{{error}}</p>
<div class="anchor">
    <a href="http://localhost:3000/">Go to Home page</a>
</div>