<article class="new-post">
  <img src="/views/images.png" alt="Paris" width="50" height="40">
  <h1>Login</h1>
  <form id="login-form" action="/login" method="post"  class="new-post-form">
    <p><label for="input">
     <div class="user"> Username</div>
      <input type="text" name="username" class="full-width-input"required></input>     
     </label></p>
    <p><label for="password">
     <div class="passw">Password</div>
      <input type="password" id="pass" name="password" class="full-input"required></input>     
    </label></p>
      <button type="submit">Submit</button>
      <button type="reset">Clear Form</button>
  </form>
</article>
{{message}}
<div class="signup"> 
  <nav>
    <ul>
        <li><a href="/signup">Sign up</a></li>
    </ul>
  </nav>
</div> 

 
		
		
	
