<article class="new-post">
  <h1>Sign up</h1>
  <form id="sign-form" action="/sign" method="post"  class="new-post-form">
    <p><label for="input">
      <div class="UN">Username</div>
      <input type="text" name="username" class="full-width-input" required></input>     
     </label></p>
    <p><label for="password">
      <div class="PW">Password </div>    
      <input type="password" id="pass" name="password" class="full-input"required></input>     
    </label></p>
    <p><label for="firstName">
      <div class="FN">firstName </div>    
      <input type="firstName" id="first" name="firstName" class="afull-input"required></input>     
    </label></p>
    <p><label for="lastName">
     <div class="LN">lastName </div>    
      <input type="lastName" id="last" name="lastName" class="bfull-input"required></input>     
    </label></p>
    <p><label for="Email">
     <div class="EM">Email</div>    
      <input type="Email" id="Emai" name="Email" class="cfull-input"required></input>     
    </label></p>
    
      <button type="submit">Submit</button>
      <button type="reset">Clear Form</button>
  </form>
</article>
<div class="goback"> 
  <nav>
    <ul>
        <li><a href="/">Back</a></li>
    </ul>
  </nav>
</div> 
 
		
		
	
