 <div class="usersimformation">
	<ul class="List">
		<li><label class="aaa">Username: </label>{{username}}</li>
		<li><label class="bbb">First name: </label>{{firstName}}</li>
		<li><label class="ccc">Last name: </label>{{lastName}}</li>
		<li><label class="ddd">Email: </label>{{email}}</li>
	</ul>
</div>
  
