<div class="bg">
  <div class="noti">
    <img src="../../public/image/logout.png" class="logout-image" alt=""><br><br>
    <p id="notice" class="text">{{notice}}</p>

    <div class="back">
      <nav>
        <ul>
          <li class="list-text"><a href="http://localhost:3000">Go to Home page</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>